* {
	box-sizing: border-box;
}

*::selection {
	background: #f2994a;
}

body {
	color: #333;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	line-height: 1.6;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4 {
	font-family: 'Playfair Display', serif;
}

.container {
	width: 90%;
	max-width: 375px;
	margin: 0 auto;
	padding: 1em 0;
}

/* header */

.main-title {
	font-size: 24px;
	color: #000;
	margin-bottom: 0;
}

.main-text {
	display: flex;
	gap: 1em;
	align-items: baseline;
}

.intro-text {
	max-width: 40ch;
	font-style: italic;
	color: #4f4f4f;
}

.banner-img {
	border-radius: 12px;
}

/* sidebar */

.sidebar {
	display: flex;
	gap: 3.5em;
	flex-direction: column;
	padding: 2em 0;
}

.serving {
	display: flex;
	align-items: center;
	gap: 0.8em;
}

.serving-text,
.serving-yields {
	margin: 0;
	line-height: 1.2;
}

.serving-yields {
	color: #bdbdbd;
	text-transform: uppercase;
}

.fa-utensils {
	color: #f2994a;
}

.timing {
	display: flex;
	justify-content: space-between;
}

.timing-card {
	display: flex;
	gap: 0.5em;
	align-items: center;
}

.timing-text,
.timing-time {
	line-height: 1.2;
	margin: 0;
}

.timing-text {
	color: #bdbdbd;
}

.serving-text {
	color: #f2994a;
}

.item {
	display: flex;
	gap: 0.3em;
	align-items: baseline;
}

.check-list-text {
	font-style: italic;
}

.cake-title {
	font-weight: 400;
	font-style: italic;
}

.italic-text {
	font-style: italic;
	color: #333;
}

/* instructions section */

.instruction-detail {
	display: flex;
	gap: 1em;
	align-items: flex-start;
}

.instruction-text {
	margin-top: 0;
	max-width: 35ch;
}

.bold-text {
	font-weight: 700;
}

.number {
	color: #fff;
	background: #f2994a;
	font-size: 20px;
	border-radius: 6px;
	padding: 0.2em 0.6em;
}
